@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Rakkas&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: sans-serif; */
  /* 
  "Lalezar",
   Arial , Helvetica, */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.css-lpesjx-MuiPaper-root-MuiDrawer-paper {
  background: transparent !important;
}

.custom-select {
  padding: 8px;
  border-radius: 7px;
  border: 1px solid #006d4e;
  background-color: #fff;
  color: #000;
  width: 100%;
  height: 100%;
  /* لجعل الارتفاع كامل */
  box-sizing: border-box;
  /* لضمان أن الحواف تأخذ المساحة الصحيحة */
  padding-right: 32px;
  /* مساحة لعرض الأيقونة */
}

.select-container {
  height: 100%;
  /* لجعل الارتفاع كامل */
  position: relative;
  width: 80%;
}

.select-container.ttt {
  width: 39%;
}

.select-container.ttt .custom-select {
  padding: 4px;
  border-radius: 7px;
  border: 1px solid #006d4e;
  background-color: #fff;
  color: #000;
  width: 100%;
  height: 100%;
  /* لجعل الارتفاع كامل */
  box-sizing: border-box;
  /* لضمان أن الحواف تأخذ المساحة الصحيحة */
  padding-right: 32px;
  /* مساحة لعرض الأيقونة */
}

.select-container.ttt .custom-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #006d4e;
  /* لون الأيقونة */
  font-size: 16px;
  /* حجم الأيقونة */
}

.custom-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #006d4e;
  /* لون الأيقونة */
  font-size: 16px;
  /* حجم الأيقونة */
}

.custom-select:focus {
  outline: 2px solid #006d4e;
  border-color: #006d4e;
  /* تغيير لون الحدود عند التركيز */
}